<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Person</title>
</head>
<body>

	<h2>Add Person</h2>

	<form action="#" th:action="@{/person/addPerson}" th:object="${person}"
		method="post">
		<table>
			<tr>
				<td>First Name</td>
				<td><input type="text" id="fName" name="fName"
					th:value="*{firstName}" size="40" /></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" id="lName" name="lName"
					th:value="*{lastName}" size="40" /></td>
			</tr>

		</table>
		<input type="submit" value="Save" />
	</form>



</body>
</html>